@tailwind base;
@layer base {
    img {
      @apply inline-block;
    }
  }
@tailwind components;
@tailwind utilities;

.text-outline-black {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
}

@media (max-width: 640px) {
    .responsive-font-size h3 {
        font-size: 0.875rem;
    }
    .responsive-font-size p {
        font-size: 0.75rem;
    }
}

html, body {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}
